<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base vue practice</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<main id="app">
    <div class="container">
        <div>
            <h1 :style="{
                color: inputValue.length > 8 ? 'red' : 'green'
                }">{{ title }}</h1>
            <div>
                <input type="text"
                       :placeholder="placeholderString"
                       @keyup.enter="addNewNote"
                       v-model="inputValue"/>
                <!--@input="inputChangedHandler" c model можно удалить-->
                <!--:value="inputValue"/>-->
            </div>
            <div class="btn-container">
                <button class="btn" @click="addNewNote">Add</button>
                <h2>Value: {{ inputValue }}</h2>
            </div>
        </div>
        <div>
            Общее количество: {{ notes.length }} | x2: {{doubleCountComputed}}
        </div>
        <ul class="list" v-if="notes.length !== 0">
            <!--myNote - нейминг любой, in notes - что итерируем, вне list-item уже не обращаемся к myNote-->
            <li class="list-item" v-for="(myNote, ind) in notes">
                <span :class="['primary', {'bold' : myNote.length > 5}]">{{ toUpperCase(myNote) }}</span>
                <button class="list-button danger" @click="deleteNote(ind)">Delete</button>
            </li>
        </ul>
        <div v-else>Нет записей</div>
    </div>
</main>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>