* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
}

ul {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.btn {
    min-width: 300px;
    max-width: 300px;
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #eee;
    margin-bottom: 15px;
}

h1 {
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.list-button {
    padding: 10px 20px;
    border: none;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}